* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.number{
    margin: 12px;
}
.container {
    /* padding: 25px; */
    height: 200px;
    background-color: brown;
    /* background: url("bg-image.jpg"); */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.box {
    color: white;
    padding: 25px;
    background: rgba(153, 153, 153, 0.25);
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    display: inline-block;
    transition: 0.3s;
}
.box:hover{
    font-size: 22px;
    
    box-shadow: 0px 0px 19px white;
}
